
body{
    background-color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}


 h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight: 400;       
}

p{
    line-height: 1,2em;
    letter-spacing: 0;
}

input, select,textarea{
    width:100%;
    padding: 10px;
    background: #EEE;
    border:0;
    font-size: 18px;
    font-weight: 900;
    
}






/*  Inicio da div que contem o titulo  */
.header-content{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}


.header-titulo{
    width: 100%;
    padding: 20px;
    height: 70px;
    background-color:#dfcb1e;
    text-align: center;
    word-break:break-word ;
    font-size: 30px;
    font-weight: 1000;   
    letter-spacing: 2px;
}
/*  Fim da div que contem o titulo  */








/*Inicio da div ou container do menu */
.header-menu
{
    width: 100%;
    height: 30px;
    background-color: #161925;
    word-break: break-word;
    color: #fefefe;
}



/* Inicio do conteudo que está dentro da div do menu */
.header-content ul
{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.header-content ul li
{
    padding:5px;
    font-size: 15px;
    font-weight:700 ;
    letter-spacing: 2px;
    color: #464749;
    text-transform: uppercase;
}


.header-content ul li a
{
    text-decoration: none;
}


.header-content span
{
    padding-left: 10px ;
}


.header-content ul li a:link
{
    color:#fff;
}


.header-content ul li a:visited
{
    color: #fff;
}


.header-content ul li a:hover
{
        color:rgb(224, 203, 12);
}
/*Fim do conteudo que está dentro da div do menu */
/*Fim da div ou container do menu */























