/* 1024/16 = 64em */
@media(max-width:960px){

    .main-nav-logo{
        width: 100%;
        height: 100%;
    }
    .main-nav-menu{
        display: none;
    }

    .main-nav-menu ul li a{
        display: none;
        
    }

    
}

@media(max-width:320px){

   
}
