
/*1366/16 = 85em */
@media(max-width:1366px){

    .header-titulo
    {
        font-size: 45px;
        height: 70px;
        padding: 9px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }

}










/*1366/16 = 85em */
@media(max-width:1360px){

    .header-titulo
    {
        font-size: 45px;
        height: 70px;
        padding: 9px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }


}









/*1280/16 = 80em */
@media(max-width:1280px){

    .header-titulo
    {
        font-size: 45px;
        height: 70px;
        padding: 9px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 4px;
    }



}




@media (max-width:650px){
    .tabela{
        overflow: scroll;
    }

}


/* 1024/16 = 64em */
@media(max-width:1024px){

    .header-titulo
    {
        font-size: 45px;
        height: 70px;
        padding: 9px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }

}










/* 960/16 =  */
@media(max-width:960px){
    .header-titulo
    {
        font-size: 42px;
        height: 70px;
        padding: 10px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }
}










/* 900/16 = 56em */
@media(max-width:900px){
    .header-titulo
    {
        font-size: 42px;
        height: 70px;
        padding: 10px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }
}










/* 768/ 16 = 48em */
@media(max-width:768px){ 
    .header-titulo
    {
        font-size: 42px;
        height: 70px;
        padding: 10px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }
}










/* 720/16= 45em */
@media(max-width:720px){
    .header-titulo
    {
        font-size: 42px;
        height: 70px;
        padding: 10px;
    }


    .header-menu
    {
        height: 33px;
    }

    
    .header-content ul li
    {
        font-size: 20px;
        padding: 5px;
    }
}










/* 480/16 = 30em */
@media(max-width:480px)
{

    .header-titulo
    {
        font-size: 30px;
        height: 60px;
        padding: 15px;
    }


    .header-menu
    {
        height: 25px;
    }

    
    .header-content ul li
    {
        font-size: 14px;
        padding: 3px;
    }
}








/* 320/16 =  */
@media(max-width:320px){
    .header-titulo
    {
        font-size: 25px;
        padding: 20px;
    }


    .header-menu
    {
        height: 20px;
    }


    .header-content ul li
    {
        font-size: 12px;
        padding: 2px;
    }
    
}













